<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<div class="container mt-5">
		  <div class="row">
			<div class="col-md-9">
			  <h1 class="display-4 font-weight-bold mb-4">Welcome to <%= title %></h1>
			</div>
			<div class="col-md-6 col-lg-8">
			  <div class="jumbotron p-3 p-md-4">
				<h4 class="mb-3">Add Items to ticket</h4>
				<p class="mb-1">SERVER: <%= server %></p>
				<p class="mb-3">SEAT: <%= seat %></p>
			  </div>
			</div>
			<div class="col-md-12 col-lg-8 mt-3">
			  <div class="row">
				<div class="col-6 col-sm-3 mb-3">
				  <a href="/servers/app/" class="btn btn-primary btn-block">APP</a>
				</div>
				<div class="col-6 col-sm-3 mb-3">
				  <a href="/servers/entree/1" class="btn btn-primary btn-block">ENTREE</a>
				</div>
				<div class="col-6 col-sm-3 mb-3">
				  <a href="/servers/beverage/" class="btn btn-primary btn-block">BEVERAGE</a>
				</div>
				<div class="col-6 col-sm-3 mb-3">
				  <a href="/servers/beer/" class="btn btn-primary btn-block">BEER</a>
				</div>
			  </div>
			  <div class="row">
				<div class="col-6 col-sm-3 mb-3">
				  <a href="/servers/wine/" class="btn btn-primary btn-block">WINE</a>
				</div>
				<div class="col-6 col-sm-3 mb-3">
				  <a href="/servers/cocktail/" class="btn btn-primary btn-block">COCKTAIL</a>
				</div>
				<div class="col-6 col-sm-3 mb-3">
				  <a href="/servers/dessert/" class="btn btn-primary btn-block">DESSERT</a>
				</div>
				<div class="col-6 col-sm-3 mb-3">
				  <a href="/servers/promo/" class="btn btn-primary btn-block">PROMO</a>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </body>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"
	></script>
</html>
