<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<div class="container text-center">
			<div class="row row-cols-4">
				<div class="col">
					<button><a href="/servers/guest/1">SEAT 1</a></button>
				</div>
				<div class="col">
					<button><a href="/servers/guest/2">SEAT 2</a></button>
				</div>
				<div class="col">
					<button><a href="/servers/guest/3">SEAT 3</a></button>
				</div>
				<div class="col">
					<button><a href="/servers/guest/4">SEAT 4</a></button>
				</div>
			</div>
		</div>
		<div class="container text-center">
			<div class="row row-cols-4">
				<div class="col">
					<button><a href="/servers/guest/5">SEAT 5</a></button>
				</div>
				<div class="col">
					<button><a href="/servers/guest/6">SEAT 6</a></button>
				</div>
				<div class="col">
					<button><a href="/servers/guest/7">SEAT 7</a></button>
				</div>
				<div class="col">
					<button><a href="/servers/guest/8">SEAT 8</a></button>
				</div>
			</div>
		</div>
	</body>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"
	></script>
</html>
