<!-- <!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
			crossorigin="anonymous"
		/>
	</head>
	<title>Seat Selection</title>
	<style>
		/* Add custom CSS to make buttons larger and expand over the viewport */
		.col {
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  height: 100vh;
		}
		.btn-lg {
		  font-size: 2rem;
		  padding: 20px 30px;
		  min-width: 100px;
		}
		button {
		  width: 100%;
		}
	  </style>
	</head>
	<body>
	  <div class="container-fluid">
		<div class="row">
		  <div class="col-3">
			<button class="btn btn-primary btn-lg"><a href="/servers/guest/1" class="text-white">SEAT 1</a></button>
		  </div>
		  <div class="col-3">
			<button class="btn btn-primary btn-lg"><a href="/servers/guest/2" class="text-white">SEAT 2</a></button>
		  </div>
		  <div class="col-3">
			<button class="btn btn-primary btn-lg"><a href="/servers/guest/3" class="text-white">SEAT 3</a></button>
		  </div>
		  <div class="col-3">
			<button class="btn btn-primary btn-lg"><a href="/servers/guest/4" class="text-white">SEAT 4</a></button>
		  </div>
		</div>
		<div class="row mt-5">
		  <div class="col-3">
			<button class="btn btn-primary btn-lg"><a href="/servers/guest/5" class="text-white">SEAT 5</a></button>
		  </div>
		  <div class="col-3">
			<button class="btn btn-primary btn-lg"><a href="/servers/guest/6" class="text-white">SEAT 6</a></button>
		  </div>
		  <div class="col-3">
			<button class="btn btn-primary btn-lg"><a href="/servers/guest/7" class="text-white">SEAT 7</a></button>
		  </div>
		  <div class="col-3">
			<button class="btn btn-primary btn-lg"><a href="/servers/guest/8" class="text-white">SEAT 8</a></button>
		  </div>
		</div>
	  </div>
	</body>
	</html>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"
	></script>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
  <title>seatmap</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
  </style>
</head>
<body>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>POS TERMINAL</h4>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="/servers/login">Return to Login</a></li>
        <li><a href="/servers/seatmap">Seatmap</a></li>
        <li><a href="/servers/guest/1">Guest Seat</a></li>
      </ul><br>
      <div class="input-group">
      </div>
    </div>

    <div class="col-sm-9">
      <h4><small>Seat Map</small></h4>
      <hr>
      <h2>Seats</h2>
      <div class="col-md-12 col-lg-8 mt-3">
        <div class="row">
          <div class="col-6 col-sm-3 mb-3">
            <a href="/servers/guest/1" class="btn btn-primary btn-block">1</a>
          </div>
          <div class="col-6 col-sm-3 mb-3">
            <a href="/servers/guest/2" class="btn btn-primary btn-block">2</a>
          </div>
          <div class="col-6 col-sm-3 mb-3">
            <a href="/servers/guest/3" class="btn btn-primary btn-block">3</a>
          </div>
          <div class="col-6 col-sm-3 mb-3">
            <a href="/servers/guest/4" class="btn btn-primary btn-block">4</a>
          </div>
        </div>
      </div><br>
	  <div class="col-md-12 col-lg-8 mt-3">
        <div class="row"><br>
          <div class="col-6 col-sm-3 mb-3">
            <a href="/servers/guest/4" class="btn btn-primary btn-block">5</a>
          </div> 
          <div class="col-6 col-sm-3 mb-3">
            <a href="/servers/guest/6" class="btn btn-primary btn-block">6</a>
          </div>
          <div class="col-6 col-sm-3 mb-3">
            <a href="/servers/guest/7" class="btn btn-primary btn-block">7</a>
          </div>
          <div class="col-6 col-sm-3 mb-3">
            <a href="/servers/guest/8" class="btn btn-primary btn-block">8</a>
          </div>
        </div>
      </div><br>



  </div>
</div>

<footer class="container-fluid">
  <p>Footer Text</p>
</footer>

</body>
</html>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"
	></script>
</html>

